Options +FollowSymLinks

RewriteEngine On

# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
# Header always set Content-Security-Policy "upgrade-insecure-requests;"

RewriteRule ^inicio/?$ index.php
RewriteRule ^inicio/m_([^/]+)/?$ index.php?m=$1
RewriteRule ^acessar_conta/?$ acoes.php?a=login
RewriteRule ^minha_area/?$ index.php

RewriteRule ^adicionar_vocabulo/?$ adicionar_vocabulo.php
RewriteRule ^adicionar_vocabulo/([^/]+)/?$ adicionar_vocabulo_$1.php

RewriteRule ^administracao/apresentacoes/?$ adm-apresentacoes.php
RewriteRule ^administracao/apresentacoes/criar/?$ adm-apresentacoes.php?p=1
RewriteRule ^administracao/apresentacoes/a/([^/]+)/?$ adm-apresentacoes.php?p=2&t=$1
RewriteRule ^administracao/apresentacoes/a/([^/]+)/m/([^/]+)?$ adm-apresentacoes.php?p=2&t=$1&m=$2
RewriteRule ^administracao/apresentacoes/a/([^/]+)/adicionar_transparencia?$ adm-apresentacoes.php?p=3&t=$1
RewriteRule ^administracao/apresentacoes/a/([^/]+)/editar_transparencia?$ adm-apresentacoes.php?p=4&t=$1
RewriteRule ^administracao/apresentacoes/m/([^/]+)/?$ adm-apresentacoes.php?m=$1

RewriteRule ^acoes/([^/]+)/?$ acoes.php?a=$1
RewriteRule ^acoes/([^/]+)/([^/]+)-([^/]+)?$ acoes.php?a=$1&$2=$3

RewriteRule ^pedidos/([^/]+)/?$ pedidos.php?p=$1
RewriteRule ^pedidos/([^/]+)/([^/]+)-([^/]+)?$ pedidos.php?p=$1&$2=$3
RewriteRule ^pedidos/([^/]+)/([^/]+)-([^/]+)/([^/]+)-([^/]+)?$ pedidos.php?p=$1&$2=$3&$4=$5

RewriteRule ^sala/([^/]+)/?$ sala.php?t=$1
RewriteRule ^sala/professor/([^/]+)/?$ sala-professor.php?t=$1


RewriteRule ^adicionar_vocabulo/([^/]+)/m_([^/]+)/?$ adicionar_vocabulo_$1.php?m=$2
